workflow/document_conversion_workflow.json
{
  "name": "Document Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "upload file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "c302f8e5-6bed-4b64-8d52-33eaa5fce86a",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -336,
        48
      ],
      "webhookId": "a857ad3f-4b4d-4574-b503-809a95b1fbbf",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.request_check_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.DATALABTO_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3cc12307-f5da-476a-811a-79920f20abf7",
      "name": "Get Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        336,
        48
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.datalab.to/api/v1/marker",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.DATALABTO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_pages",
              "value": "4"
            },
            {
              "name": "use_llm",
              "value": "true"
            },
            {
              "name": "output_format",
              "value": "markdown"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "ec9e9703-fb38-4ba5-97f6-a73bee7c47f7",
      "name": "Send to Datalab API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -112,
        48
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20280dbd-8188-4f5e-8e4e-74621d65d40a",
              "name": "markdown",
              "type": "string",
              "value": "={{ $json.markdown }}"
            }
          ]
        },
        "options": {}
      },
      "id": "542793bf-05c1-4c6c-b0e0-b087669f966c",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "cb900de1-e4b1-488f-8a12-9946bb8466f6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        112,
        48
      ],
      "webhookId": "7b49cf9b-9859-4361-a8b8-2407d114d418",
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Markdown": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Send to Datalab API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Datalab API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "23a7bbad-b542-4bce-91a6-802c15bfebcb",
  "meta": {
    "instanceId": "a33223fdd2feb172fde7a069e78c16780d99990650b4a14ae8fc685e6c49dbd7"
  },
  "id": "RKfT3GgZKppFkc7oKfuaN",
  "tags": []
}